html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

:root {
  --c-ok: #0d9488;
  --c-primary: #0d9488;
  --c-primary-deep: #076a61;
  --c-mis: #de7525;
}

p {
  text-align: left;
}
